<%= form_for @ad do |f| %>
<% if @ad.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this client_workout from being saved:</h2>

    <ul>
    <% @ad.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</p>
<p>
  <%= f.label :seller_id %><br />
  <%= f.text_field :seller_id %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :img_url %><br />
  <%= f.text_field :img_url %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>