<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			Ads: <%= controller.action_name %>
		</title><%= stylesheet_link_tag    "/stylesheets/default.css" %><%= javascript_include_tag "application" %><%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div>
					<h1>
						MeBay
					</h1>
					<ul>
						<li>
							<a href="/ads/">All Ads</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="content">
				<%= yield %>
			</div>
			<div id="clearfooter"></div>
		</div>
		<div id="footer"></div>
	</body>
</html>
